/*  DREAMING OF SNOW
    -------------------------------------------------------------------------- */

	@import url('//fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
	
	.dc-dreaming-of-snow {
		width: auto;
		max-width: 100%;
		margin: 0;
		padding: 20px;
		background-color: #ffffff;
	}
	.dc-dreaming-of-snow, .dc-dreaming-of-snow * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: Vollkorn, 'Times New Roman', Times, serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		color: #666666;
	}
	.dc-dreaming-of-snow h3, .dc-dreaming-of-snow h4 {
		font-family: 'La Belle Aurore', Arial, Helvetica, sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0;
		text-transform: none;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
		color: #ffffff;
		margin: 0;
	}
	.dc-dreaming-of-snow p, .dc-dreaming-of-snow .dc-dreaming-of-snow-header, .dc-dreaming-of-snow .dc-dreaming-of-snow-content {
		margin: 0 0 20px 0;
	}
	.dc-dreaming-of-snow p:last-child {
		margin-bottom: 0;
	}
	.dc-dreaming-of-snow a {
		color: #84a7c3;
		text-decoration: underline;
	}
	.dc-dreaming-of-snow a:hover {
		color: #666666;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-row {
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-gap: 20px;
		gap: 20px;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column {
		-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
		-moz-flex: 1 1 100%;
		flex: 1 1 100%;
		width: auto;
		min-height: 1px;
		min-width: 1px;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-blue {
		padding: 10px;
		background-color: rgba(44, 74, 98, 0.8);
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header {
		background: url('//display.coffee/assets/images/cheat-codes/dreaming-of-snow-bg.jpg') no-repeat 0 0;
		background-size: cover;
		width: 100%;
		height: 300px;
		padding: 20px;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-row {
		height: 100%;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column {
		position: relative;
		margin: 0;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column-title {
		-webkit-align-self: flex-end;
		align-self: flex-end;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column-avatar {
		order: -1;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar, 
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar .dc-dreaming-of-snow-blue {
		max-width: 150px;
		position: absolute;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar {
		margin: 0 10px;
		top: 0;
		right: 0;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		border: 5px solid #ffffff;
		overflow: hidden;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar:hover .dc-dreaming-of-snow-blue {
		opacity: 1;
		visibility: visible;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar .dc-dreaming-of-snow-image-wrapper {
		position: relative;
		z-index: 1;
		height: 0;
		padding-bottom: 100%;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar .dc-dreaming-of-snow-blue {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: flex;
		-webkit-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 0.5s ease;
		-o-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar .dc-dreaming-of-snow-blue p {
		max-width: 80%;
		max-height: 80%;
		font-size: 10px;
		text-align: center;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
		color: #ffffff;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		-webkit-line-clamp: 4;
	}
	.dc-dreaming-of-snow .dc-dreaming-of-snow-footer {
		text-align: center;
	}
	@media only screen and (min-width: 541px) {
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column-title {
			-webkit-flex: 1 1 0%;
			-ms-flex: 1 1 0%;
			-moz-flex: 1 1 0%;
			flex: 1 1 0%;
		}
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column-avatar {
			order: 10;
			-webkit-flex: 0 0 150px;
			-ms-flex: 0 0 150px;
			-moz-flex: 0 0 150px;
			flex: 0 0 150px;
		}
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-title {
			max-width: 350px;
		}
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar, 
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar .dc-dreaming-of-snow-blue {
			max-width: 100%;
		}
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar {
			top: auto;
			bottom: 0;
		}
	}
	@media only screen and (min-width: 768px) {
		.dc-dreaming-of-snow {
			max-width: 768px;
		}
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column-avatar {
			-webkit-flex: 0 0 200px;
			-ms-flex: 0 0 200px;
			-moz-flex: 0 0 200px;
			flex: 0 0 200px;
		}
		.dc-dreaming-of-snow .dc-dreaming-of-snow-header .dc-dreaming-of-snow-avatar .dc-dreaming-of-snow-blue p {
			max-width: 75%;
			max-height: 75%;
			font-size: 14px;
			-webkit-line-clamp: 5;
		}
		.dc-dreaming-of-snow .dc-dreaming-of-snow-content .dc-dreaming-of-snow-row .dc-dreaming-of-snow-column {
			-webkit-flex: 1 1 0%;
			-ms-flex: 1 1 0%;
			-moz-flex: 1 1 0%;
			flex: 1 1 0%;
		}
	}