/*  VELOCIRAPTOR PACK
    -------------------------------------------------------------------------- */

	.dc-velociraptor-pack, .dc-velociraptor-pack * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		line-height: 1.5;
		color: #ffffff;
	}
	.dc-velociraptor-pack {
		position: relative;
		max-width: 100%;
		width: auto;
		margin: 0;
		background-image: url('//display.coffee/assets/images/cheat-codes/velociraptor-pack.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		border: 4px solid #31779c;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
		overflow: hidden;    
	}
	.dc-velociraptor-pack a {
		color: #31779c;
		text-decoration: none;
	}       
	.dc-velociraptor-pack a:hover {
		color: #ffffff;
	}
	.dc-velociraptor-pack p {
		margin: 0 0 20px 0;
	}
	.dc-velociraptor-pack p:last-child {
		margin-bottom: 0;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-title {
		font-family: 'Century Gothic', 'Arial Narrow', Arial, sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: none;
		line-height: 1.2;
		margin: 0 0 20px 0;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: flex;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container > * {
		min-width: 1px;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		-moz-flex: 0 1 auto;
		flex: 0 1 auto;
		width: 100%;
		padding: 20px;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-navigation, 
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-footer {
		text-align: center;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-navigation a, 
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-navigation .dc-velociraptor-pack-separator {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-navigation .dc-velociraptor-pack-separator {
		padding: 0 10px;
		font-size: 14px;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-footer {
		padding: 10px 20px;
	}       
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content, 
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-sidebar {
		background-color: rgba(51, 51, 51, 0.5);
		margin: 20px;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content {
		height: 400px;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll,
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll .dc-velociraptor-pack-section {
		height: 100%;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll {
		max-height: 100%;
		overflow: hidden;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll .dc-velociraptor-pack-section {
		padding: 0 20px 0 0;
		overflow-y: auto;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll .dc-velociraptor-pack-section::-webkit-scrollbar {
		width: 10px;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll .dc-velociraptor-pack-section::-webkit-scrollbar {
		height: 10px;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll .dc-velociraptor-pack-section::-webkit-scrollbar-track {
		background: transparent;
	}
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content .dc-velociraptor-pack-scroll .dc-velociraptor-pack-section::-webkit-scrollbar-thumb {
		background: #31779c;
	}	
	.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-sidebar {
		margin-top: 0;
	}
	@media only screen and (min-width: 768px) {
		.dc-velociraptor-pack {
			max-width: 700px;
		}
		.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-content {
			-webkit-flex: 1 1 0%;
			-ms-flex: 1 1 0%;
			-moz-flex: 1 1 0%;
			flex: 1 1 0%;
			width: auto;
			height: 500px;
		}
		.dc-velociraptor-pack .dc-velociraptor-pack-container .dc-velociraptor-pack-sidebar {
			margin-top: 20px;
			width: 200px;
		}
	}