/*  BANNER CODE GENERATOR
    -------------------------------------------------------------------------- */

	.dc-banner-code-generator, .dc-banner-code-generator * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.dc-banner-code-generator > * {
		margin: 0 0 20px 0;
	}
	.dc-banner-code-generator > *:last-child {
		margin-bottom: 0;
	}
	.dc-banner-code-generator .dc-banner-code-generator-section h5 {
		margin: 0 0 10px 0;
	}
	.dc-banner-code-generator .dc-banner-code-generator-section .dc-banner-code-generator-banners {
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		margin: 0 -5px -10px -5px;
	}
	.dc-banner-code-generator .dc-banner-code-generator-section .dc-banner-code-generator-banners .dc-banner-code-generator-button {
		min-width: 1px;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		-moz-flex: 0 1 auto;
		flex: 0 1 auto;
		padding: 0 5px;
		margin: 0 0 10px 0;
		background-color: transparent;
		border: 0;
	}
	.dc-banner-code-generator .dc-banner-code-generator-code pre, 
	.dc-banner-code-generator .dc-banner-code-generator-code code {
		background-color: #333333;
		margin: 0;
		padding: 20px;
		font-family: 'Courier New', monospace;
		font-size: 16px;
		color: #ffffff;
		white-space: pre-wrap;
		word-break: break-word;
	}
	.dc-banner-code-generator .dc-banner-code-generator-code pre code {
		padding: 0;
		margin: 0;
	}