/*  BEST FRIENDS
    -------------------------------------------------------------------------- */

	.dc-best-friends {
		width: auto;
		max-width: 100%;
		margin: 0;
		background-color: #383c46;
		border: 1px solid #2d3038;
	}
	.dc-best-friends, .dc-best-friends * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		color: #f5f5f5;
	}
	.dc-best-friends h3, .dc-best-friends h4, .dc-best-friends p, .dc-best-friends ul {
		margin: 0 0 20px 0;
	}
	.dc-best-friends h3:last-child, .dc-best-friends h4:last-child, .dc-best-friends p:last-child, .dc-best-friends ul:last-child {
		margin-bottom: 0;
	}
	.dc-best-friends h3, .dc-best-friends h4 {
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-style: italic;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0;
		text-shadow: none;
		color: #f5f5f5;
	}
	.dc-best-friends h3 {
		font-size: 20px;
	}
	.dc-best-friends h4 {
		font-size: 16px;
	}
	.dc-best-friends a {
		color: #a4adc5;
		text-decoration: none;
	}
	.dc-best-friends a:hover {
		color: #f5f5f5;
	}
	.dc-best-friends .dc-best-friends-header {
		position: relative;
		line-height: 0;
	}
	.dc-best-friends .dc-best-friends-header img {
		max-width: 100%;
		width: 100%;
	}
	.dc-best-friends .dc-best-friends-header h3 {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255, 255, 255, 0.5);
		margin: 0;
		padding: 20px;
		color: #383c46;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons {
		border: 0;
	}
	.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list,
	.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li {
		margin: 0;
		padding: 0;
	}
	.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li .dc-hello-content-button {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background-color: #50634e;
		border-color: #445543;
		border-left-width: 0;
		border-right-width: 0;
		border-bottom-width: 0;
		color: #f5f5f5;
	}
	.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li:last-child .dc-hello-content-button {
		border-bottom-width: 1px;
	} 
	.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li .dc-hello-content-active {
		background-color: #383c46;
		border-color: #2d3038;
	}
	.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-content .dc-hello-content-block {
		background-color: transparent;
	}
	@media only screen and (min-width: 541px) {
		.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li {
			width: 25%;
		}
		.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li .dc-hello-content-button {
			border-right-width: 1px;
		}
		.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li .dc-hello-content-active {
			border-left-width: 1px;
		}
		.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li:first-child .dc-hello-content-button {
			border-left-width: 0;
		} 
		.dc-best-friends .dc-hello-content-tabs .dc-hello-content-tabs-buttons .dc-hello-content-tabs-list li:last-child .dc-hello-content-button {
			border-right-width: 0;
			border-bottom-width: 0;
		} 
	}
	@media only screen and (min-width: 768px) {
		.dc-best-friends {
			max-width: 768px;
		}
	}